{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-switch.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/box.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
       <div class="row">
           <div class="col-md-4">
               <h1>CloudComputing</h1>
               <p class="lead">Live Stream Photos & Classifications</p>
           </div>
           <div class="col-md-6">
               <img  src="http://masters.fib.upc.edu/sites/default/files/fib-upc-logo.png" style="max-width: 300px;
    padding-top: 20px;">
           </div>
           <div class="col-md-2">
                Live: <input type="checkbox" name="my-checkbox" id="reload" checked>
           </div>
       </div>
    </div>

    <div class="container">
        <div class="row" id="photo-container">
            {% for photo in photos %}
                <div class="col-xs-18 col-sm-4 col-md-3">
                <div class="productbox">
                    <div class="imgthumb img-responsive">
                        <img src="{{ photo.url }}" class="image-cassandra">
                    </div>
                    <div class="caption">
                        <h5>{{ photo.category }} | {{ photo.confidence }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!--/row-->
    </div><!--/container -->


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.min.js' %}"></script>

    <script type="text/javascript">
        var time_reload = 7*1000;
        var timeoutvar = setTimeout(function(){location.reload()}, time_reload);

        $("#reload").bootstrapSwitch();
        $('#reload').on('switchChange.bootstrapSwitch', function(event, state) {
            if (state){
                location.reload();
            } else {
                clearTimeout(timeoutvar);
            }
        });
    </script>
</body>
</html>